.card {
  background-color: #16213e;
  border: 1px solid #0f3460;
  border-radius: 10px;
  margin-bottom: 1rem;
  padding: 1rem 1.5rem;
  max-width: 300px;
}

.card h2 {
  margin-top: 0;
  color: #394560;
}

.badge {
  display: inline-block;
  padding: 0.2rem 0.6rem;
  border-radius: 4px;
  font-size: 0.8;
  font-weight: bold;
}

.badge-mage {
  background-color: #5c2fc2;
}

.badge-warrior {
  background-color: #c2185b;
}
